
.header {
    padding: 30px 0;
  }
  
.header img{
  height: 100px;
}

.header h1 {
  font-size: 2.75rem;
  color: var( --tn-secondary);
}

.header h2 {
  font-size:  1.75rem;
  margin: 0;
  color: var(--tn-primary);
}

.box-shadow-hover:hover {
  box-shadow: 0 28px 100px 25px black;
  transition: 0.2s ease-in-out;
}

.rotate:hover
{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {

  .header h1 {
    font-size: 3.5rem;

  }
  
  .header h2 {
    font-size:  2.5rem;

  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .header h1 {
    font-size: 3.75rem;

  }
  
  .header h2 {
    font-size:  2.75rem;

  }

}